@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.main_hover_cont{
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  transform-origin: top-left;
  background-color: var(--slighteer-light-grey);
  border: .5px solid rgb(27, 26, 26);
  width: 295px;
  height: auto;
  color: var(--color-text);
  border-radius: 5px;
  z-index: 3;
  transition: all .2s .2s ease-in-out;
  opacity: 0;
  
  transform: scale(0);
  font-size: 12px;
}

.main_hover_cont.top_anime{
  top: 15%;
  left: 95%;
  transform-origin: top left;
}

.main_hover_cont.recently_updated{
  top: 30%;
  left: 100%;
  transform-origin: left;
}

.main_hover_cont.little{
  top: 20%;
  left: 115%;
  transform-origin: top left;
}

.anime_pict:hover > .main_hover_cont{
  opacity: 1;
  transform: scale(1);
}

.anime_pict.little:hover > .main_hover_cont{
  opacity: 1;
  transform: scale(1);
}

.link_tag:hover + .main_hover_cont{
  opacity: 1;
  transform: scale(1);
}


.main_hover_cont:hover{
  opacity: 1;
  transform: scale(1);
}

.genre_style{
  display: flex;
  list-style-type: none;
  padding: 0;
}

.genre_style li{
  margin: 0 2px;
  transition: all .2s ease-in-out;
  color:var(--purple-lighter-color);
}

.genre_style li:hover{
  color: rgb(195, 116, 221);
}


.anime_hover_cont{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.title_hover{
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--purple-lighter-color);
}

.hover_title{
  line-height: 1.3;
  letter-spacing: .4px;
  text-align: left;
  word-wrap: break-word;
}

.ep_release{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ep_release:first-child{
  padding-left: 0;
}

.age_limit{
  display: flex;
  height: auto;
  background-color: transparent;
  font-size: 10px;
  padding: 1px 4px;
  border-radius: 2px;
  color:var(--color-white-icons);
  border: 1px solid var(--color-white-icons);
} 

.isHD{
  background-color: grey;
  color: var(--slighteer-light-grey);
  border-radius: 2px;
  padding: 2px;
  font-size: 11px;
}

.fa.fahov{
  font-size: 10px;
  display: flex;
  align-items:center;
  padding: 0 10px;
}

.ep_subhov,
.ep_michov,
.ep_episodeshov{
  height: 19px;
  display: flex;
  align-items:center;
  border-radius: 2px;
}

.short_hover_desc{
  margin: 10px 0;
}

.short_hover_desc p{
  letter-spacing: 1.2;
  line-height: 1.2;
  font-size: 13.5px;
  font-weight: 600;
  margin: 0;
}

.make_row{
  display:flex;
  flex-direction: row;
  margin: 2px 0;
}

.component_name{
  color: var(--color-white-icons);
  white-space: nowrap;
  font-size: 13px;
  font-weight: 400;
  padding-right: 2px;
}

.comp_info{
  padding: 0;
  margin: 1.5px 0;
  font-weight: 600;
  letter-spacing: 1.2;
  font-size: 13.5px;
  flex-wrap: wrap;
}


.action_cont{
  margin: 10px 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cont,
.button_class,
.button_class p{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont_one{
  flex: 4;
  padding-right: 10px;
}

.cont{
  flex: 1;
}

.button_class{
  background-color: var(--color-text);
  color: var(--slighteer-light-grey) !important;
  width: 100%;
  height: 36px;
  border-radius: 5px;
  transition: all .3s ease-in-out;
  padding: 0;
  margin: 0; 
  letter-spacing: .5px;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  text-decoration: none;
}

.button_class i{
  padding-right: 3px;
}

.button_class:hover{
  background-color: var(--purple-lighter-color);
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
}


.cont i{
  color: var(--slighteer-light-grey);
  background-color: rgb(117, 117, 117);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  justify-content: space-around;
  transition: all .3s ease-in-out;
}

.cont i:hover{
  background-color: var(--color-text);
  cursor: pointer;
}

@media screen and (max-width: 1700px) {
  .main_hover_cont.top_anime{
    top: 15%;
    left: auto;
    right: 95%;
    transform-origin: top right;
  }
}

@media screen and (max-width: 1550px) {
  .anime_hover_cont{
    padding: 15px;
  }
  .title_hover{
    font-size: 15px;
  }
  .age_limit{
    font-size: 8px;
    padding: 1px 3px;
  };
  .isHD{
    font-size: 8px;
  }
  .fa.fahov{
    font-size: 8px;
    display: flex;
    align-items:center;
    padding: 0 7px;
  }
  .ep_subhov,
  .ep_michov,
  .ep_episodeshov{
    height: 17px;
  }
  .short_hover_desc p{
    letter-spacing: 1.2;
    line-height: 1.2;
    font-size: 12px;
  }
  .component_name{
    font-size: 11px;
  }
  .comp_info{
    font-size: 12.5px;
  }
  .button_class_text{
    font-size: 13px;
  }
  .cont i{
    width: 33px;
    height: 33px;
  }
  
}

@media screen and (max-width: 1200px) {
  .main_hover_cont.recently_updated.first_right{
    top: 30%;
    left: auto;
    right: 100%;
    transform-origin: right;
  }
}

@media screen and (max-width: 977px) {
  .main_hover_cont.recently_updated.first_right{
    top: 30%;
    left: 100%;
    transform-origin: left;
  }
  .main_hover_cont.recently_updated.second_right{
    top: 30%;
    left: auto;
    right: 100%;
    transform-origin: right;
  }
}

@media screen and (max-width: 658px) {
  .main_hover_cont.recently_updated,
  .main_hover_cont.recently_updated.first_right,
  .main_hover_cont.recently_updated.second_right{
    top: 30%;
    left: 100%;
    transform-origin: left;
  }
  .main_hover_cont.recently_updated.third_right{
    top: 30%;
    left: auto;
    right: 100%;
    transform-origin: right;
  }
  .main_hover_cont.recently_updated.middle_hover{
    top: 30%;
    left: 10%;
    transform-origin: top left;
  }
}

