
body{
  --darker-main-color: #141414;
  --lighter-main-color: #1C1C1c;
  --slighteer-light-grey: rgb(32, 32, 32);
  --color-text: #AAAAAA;
  --color-white-icons: rgb(161, 160, 160);
  --purple-color-effect: rgb(96, 0, 160);
  --purple-lighter-color: rgb(133, 34, 199);
  background-color: var(--darker-main-color);
  color: #777;
  font-family: Nunito,Archivo,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}



.two_grids{
  width: 100%;
  max-width: 1780px;
  margin-top: 10px;
  height: 200vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bigger_grid{
  grid-area: 1 / 1 / 2 / 2 ;
  /*padding-right: 10px;*/
}

.smaller_grid{
  grid-area: 1 / 2 / 2 / 3;
  color: var(--color-text);
}

@media screen and (max-width: 1200px) {
  .smaller_grid{
    display: none;
  }

  .two_grids{
    grid-template-columns: 1fr; 
  }
}


@media screen and (max-width: 1700px) {
  .smaller_grid{
    padding: 0;
  }
}

