.cont_animeNew{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
}

.for_flex{
  flex: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.adrs{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cont_title{
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text);
  margin: 10px ;
}

.cont_title a span,
.cont_title i{
  color: var(--color-text);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.cont_title a span:hover{
  color: var(--purple-hover-color);
}

.cont_title a{
  text-decoration: none;
}

.dot{
  font-size: 3px;
  padding: 0 5px;
}

.watch_to.little{
  color: rgb(133, 130, 130);
  font-size: 12px;
  font-weight: 100 !important;
  text-align: center;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow:hidden;
  line-height: 1.3;
}

.mic_sub_total.little{
  padding: 0 !important;
}

.type_anime.little{
  padding: 2px !important;
}

.release_data{
  padding-left: 3px;
}

.title.little{
  color: var(--color-text);
  font-size: 13px;
  font-weight: 100;
}

.element.little{
  box-sizing: border-box;
  margin: 5px 10px;
  padding: 10px;
  display: flex;
  width: auto;
}

.anime_pict.little{
 position: relative;
}

.anime_pict.little,
.anime_pict.little img{
  max-width: 50px;
  max-height: 65px;
  width: auto;
  height: auto;
  border-radius: 4px;
}

.mic_sub_total.little{
  padding: 0;
}


@media screen and (max-width: 1200px) {
  .cont_animeNew{
    flex-direction: column;
  }
  .element.little{
    width: calc(50% - 20px);
  }
  .adrs{
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 770px) {
  .element.little{
    width: 100%;
  }
}