#ani_elems{
  color: var(--color-white-icons);
  width: auto;
  height: auto;
  margin: 0;
  max-width: 1350px;

  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;

  box-sizing: border-box;

  font-family: Nunito,Archivo,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin-bottom: 40px;
}


.anime_item{
  position: relative;
  
  width: auto;
  max-width: 16.6%;
  flex-grow: 1;
  height: auto;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0;
  margin-bottom: 20px;
}


.anim{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 85%;
  position: relative;
  box-sizing: border-box;
  padding: auto;
  margin: auto;
}

.anim::after{
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 25px);
  position: absolute;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.anim:hover::after{
  background-color: rgba(29, 25, 25, 0.581);
}

.anim::before {
  content: '\f04b';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900; 
  color: white; 
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .2s ease-in-out;
}

.anim:hover::before{
  opacity: 1;
  z-index: 2;
}




.img_container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anim img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.meta{
  background-color: rgb(33, 33, 33);
  position: absolute;
  bottom: 0px;
  width : 100%;
  height: 25px;
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  border-radius:0 0 7px 7px;
  overflow: hidden;
}

.info{
  font-size: 17px;
  box-sizing: border-box;
  height: auto;
  min-height: 35px;
  max-height: 40.5px;
  background-color: rgba(0, 29, 29, 0);
  margin: 0;
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow:hidden;
  line-height: 1.3;
  margin-top: 5px;
  transition: color .2s ease-in-out;
}

.anime_item a{
  color: var(--color-white-icons);
  text-decoration: none;
}

.info:hover{
  color: var(--purple-hover-color);
}


@media screen and (max-width: 1500px) {
  .info{
    font-size: 14px;
  } 
}

@media screen and (max-width: 1200px) {
  .anime_item{
    min-width: 160px;
  }
  .anime_item{
    max-width: 20%;
  }
}

@media screen and (max-width: 977px) {
  .anime_item{
    max-width: 25%;
  }
}

@media screen and (max-width: 658px) {
  .anime_item{
    max-width: 33%;
  }
}