.ep_release{
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  width: auto;
  height: 19px;
  padding: 0 10px ;
  color:var(--color-text);
}

.mic_sub_total{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 20px;
  justify-content: space-around;
  padding-right: 5%;
}

.fa,
.fahov{
  font-size: 10px;
  display: flex;
  align-items:center;
  padding: 0 10px;
}

.faElem{
  font-size: 10px;
  display: flex;
  align-items:center;
  padding: 0 6px;
}

.ep_sub,
.ep_mic,
.ep_episodes{
  height: 19px;
  display: flex;
  align-items:center;
  border-radius: 2px;
}


.ep_sub,
.ep_subhov{
  background-color: var(--purple-color-effect);
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
  white-space: nowrap;
}

.ep_mic,
.ep_michov{
  background-color: rgb(92, 1, 43);
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
  white-space: nowrap;
}

.ep_episodes,
.ep_episodeshov{
  background-color: rgb(96, 96, 96);
  clip-path: polygon(20% 0, 100% 0, 85% 100%, 0 100%);
}

.ep_subhov_amount::before,
.ep_sub_amount::before{
  content: '\f20a'; 
  display: inline-block;
  padding-right: 5px;
  font-size: 13px;
}

.ep_michov_amount::before,
.ep_mic_amount::before{
  content: '\f130';
  display: inline-block;
  padding-right: 5px;
  font-size: 13px;
  flex-wrap: nowrap;
}

.watch_to{
  display: flex;
  flex-direction: row;
}

.minus_sign{
  display: flex;
  align-items: center;
  justify-content: center;
}


.type_anime{
  padding: 6px;
}

.type_anime_Elm{
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;

}


.meta_elems{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}


@media screen and (max-width: 1500px) {
  .anime_tops{
    padding-top: 20px;
  }
  .title{
    font-size: 14px;
  }
  .ep_sub,
  .ep_mic,
  .ep_episodes{
    height: 17px;
  }
  .fa{
    padding: 0 7px;
    font-size: 10px;
  }

  .ep_sub_amount::before{
    padding-right: 3px;
    font-size: 11px;
    
  }
  
  .ep_mic_amount::before{
    padding-right: 3px;
    font-size: 11px;
  }
  .watch_to i {
    font-size: 13px;
  }
  .minus_sign{
    display: none;
  }

}
