.tooltip_options,
.drop_btn{
  color: white;
  cursor: pointer;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.dropdown{
  position: relative;
  border-radius: 5px;
}



#dropDown_list{
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
  position: absolute;
  top: 38.5px;
  left: 10px;
  min-width: 190px;
  max-height: 253px;
  border-radius: 5px;
  background-color: rgb(31, 30, 30);
  z-index: 1;
  transition: .3s;
}

#dropDown_list a{
  font-size: 15px;
  padding: 5px;
  display: block;
  color: rgb(126, 120, 120);
  font-weight: 900;
  padding-left: 15px;
  text-decoration: none;
  transition: .3s;
}

.dropDown_content > a:first-child {
  border-radius: 5px 5px 0 0 ;
}

.dropDown_content > a:last-child {
  border-radius: 0 0 5px 5px ;
}

#dropDown_list a:hover{
  background-color: rgb(41, 40, 40);
}

#dropDown_list:focus a {
  color: rgb(255, 255, 255);
}


#dropDown_list.show{
  opacity: 1;
  transform: scaleY(1);
  transition: .3s;
}




#js_change_btn.fa-bars-staggered{
  opacity: 1;
  transform: rotate(0);
  transition: all .4s ease;
}

#js_change_btn.fa-xmark{
  opacity: 1;
  transform: rotate(180deg);
  transition: all .4s ease;
}