body {
  font-family: 'Noto Sans JP', sans-serif;
  --main-color: #1c1c1c;
  --hover-header-color: rgb(151, 101, 192);
  --color-lang-message: rgb(35, 37, 37);
  --header-border-color: rgb(24, 21, 21);
  --header-border-lighter: rgb(56, 55, 55);
  --text-in-shadow: rgb(114, 114, 114);
  --search-border: rgb(46, 46, 46);
}

.on_screen_header_cont{
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--main-color);
  position: fixed;
  z-index: 10;
  top:0;
  left: auto;
}

.on_screen_header {
  z-index: 2;
  width: 100%;
  max-width: 1780px;
  margin: 0 auto;
  justify-content: center;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.split_partOne,
.split_partTwo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.split_partOne{
  flex: 0 2 78%;
}
.split_partTwo{
  flex: 0 1 auto;
}


.image_of_site {
  width: auto;
  margin: 0 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image_of_site img{
  width: 140px;
}

/*all style to search cont in search_box_style.css*/

.cool_stuff{
  margin-left: 5px;
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  align-items: center;
  white-space: nowrap;
}

.together_watch,
.random_select,
.read,
.message,
.change_lang{
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 12px;
  color: var(--color-white-icons);
  text-align: center;
  font-size: 16px;
  transition: .4s;
  text-decoration: none;
  position: relative;
}

.message_show_cont{
  position: relative;
}

.message{
  height: 44px;
  cursor: pointer;
}

.together_watch::after{
  content: "Watch2gether";
  padding: 5px;
}
.random_select::after{
  content: "Random";
  padding: 5px;
}
.read::after{
  content: "Read Manga";
  padding: 5px;
}

.together_watch:hover,
.random_select:hover,
.read:hover,
.bell:hover{
  color: var(--hover-header-color);
}


.change_lang{
  height: auto;
  width: auto;
  cursor: pointer;
}

.choose{
  background-color: var(--color-lang-message);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 2px solid var(--header-border-color);
}

.choose:hover{
  background-color: rgb(82, 3, 146);
  color: white;
}


.en,
.jp{
  width: 35px;
  font-size: 15px;
  background-color: transparent;
  padding: 2px;
  justify-content: center;
}

.en{
  border-right: 2px solid var(--header-border-color);
}

.en.active,
.jp.active{
  background-color: var(--color-white-icons);
  color: black;
}


.extra_2watch,
.random_choice{
  position: absolute;
  left:50%;
  top: 40px;
  background-color: rgb(187, 187, 187);
  padding: 5px;
  height: auto;
  border-radius: 4px;
  font-size: 13px;
  color: black;
  white-space: nowrap;
  transform: translateX(-50%) scaleY(0);
  transition: transform .1s ease-out 0.1s;
  transform-origin: top;
  letter-spacing: 0.05em;
  z-index: 4;
}

.triangle{
  clip-path: polygon(
    0% 100%,
    50% 0%,
    100% 100%);
  width: 10px;
  height: 7px;
  background-color: rgb(161, 150, 150);
  position: absolute;
  top: -34%;
  left: 50%;
  transform: translateX(-50%);
}


.extra_2watch.active,
.random_choice.active{
  transform: translateX(-50%) scaleY(1);
}


/*menu to messages*/

.menu_message{
  position: absolute;
  background-color: var(--color-lang-message);
  width: 300px;
  height: 80px;
  top: 50px;
  left: 100%;
  transform: translateX(-100%) scaleY(0);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  cursor: default;
  border: 1px solid var(--header-border-lighter);
  transform-origin: top;
  transition: .1s ease-in-out;
  z-index: 4;
}

.menu_message.active{
  transform: translateX(-100%) scaleY(1);
}

.notifications,
.message_header{
  flex: 1;
  background-color: rgba(128, 72, 72, 0);
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.message_header{
  border-bottom: 1px solid var(--header-border-lighter);
}

.message_header span{
  flex: 1;
  position: relative;
}

.mark{
  flex: 1.5;
  display: inline-flex;
  align-items: center;
  color: var(--text-in-shadow);
}

.mark_add{
  transition: .2s ease-in-out;
}

.mark_add::after{
  content: 'Mark as read';
  padding: 5px;
  font-family: 'Noto Sans JP', sans-serif; 
}

.anime_title{
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.anime_title::after{
  content: '';
  background-color: rgb(132, 132, 132);
  width: 50px;
  height: 1px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 155%;
  transform: translate(-50%, -200%);
  cursor: pointer;
}


.notifications{
  color: var(--text-in-shadow);
  
}

.notifications span{
  cursor: text;
}


.mark_add:hover{
  color: var(--color-white-icons);
  cursor: pointer;
}

.bell{
  cursor: pointer;
}





@media screen and (max-width: 1600px) {
  .cool_stuff{
    flex: 1 2 auto;
  }

  .quick_access{
    padding: 0 5px;
  }
  .text_q{
    display:none;
  }
}

@media screen and (max-width: 1500px) {
  .split_partOne{
    flex: 0 1 80%;
  }
  .split_partTwo{
    flex: 0 2 auto;
  }
  .together_watch,
  .random_select,
  .read,
  .message,
  .change_lang{
    font-size: 14.5px; 
    margin: 0 10px;
  }
  .en,
  .jp{
    width: 28px;
    font-size: 13px;
  }

  .on_screen_header{
    height: 60px;
  }
}

@media screen and (max-width: 1300px) {
  .split_partOne{
    flex: 0 1 90%;
  }
}


@media screen and (max-width: 1200px) {
  .search_container{
    display:none;
  }
}

@media screen and (max-width: 900px) {
  .cool_stuff{
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .image_of_site img{
    width: 125px;
  }

  .image_of_site {
    margin: 0;
    padding: 5px;
  }

}

@media screen and (max-width: 620px) {
  .search_container{
    width: 250px;
  }
}