body {
  font-family: 'Noto Sans JP', sans-serif;
  --main-color: #1c1c1c;
  --hover-header-color: rgb(151, 101, 192);
  --color-lang-message: rgb(35, 37, 37);
  --header-border-color: rgb(24, 21, 21);
  --header-border-lighter: rgb(56, 55, 55);
  --text-in-shadow: rgb(114, 114, 114);
  --search-border: rgb(46, 46, 46);
}

.on_screen_header_cont{
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--main-color);
}

.on_screen_header {
  z-index: 2;
  width: 100%;
  max-width: 1780px;
  margin: 0 auto;
  justify-content: center;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.split_partOne,
.split_partTwo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.split_partOne{
  flex: 0 2 78%;
}
.split_partTwo{
  flex: 0 1 auto;
}


.image_of_site {
  width: auto;
  margin: 0 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image_of_site img{
  width: 140px;
}

/*
.search_container{
  background-color: var(--darker-main-color);
  color: var(--color-white-icons);
  display: flex;
  
  flex: 1 1 600px;
  height: 36px;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  z-index: 5;
}
*/


.search_container{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 600px;
  height: auto;
  padding: 0;
}


.const_search{
  background-color: var(--darker-main-color);
  color: var(--color-white-icons);
  display: flex;
  flex-direction: row;
  height: 36px;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  align-content: flex-start;
  z-index: 1;
  position: relative;
}


.active_search{
  display: flex;
  flex-direction: column;
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleY(0);
  width: 100%;
  height: auto;
  min-height: 200px;
  z-index: 1;
  transition:all .2s ease-in-out;
  transform-origin: top;
  border: 1px solid var(--search-border);
  border-radius: 5px;
  background-color: var(--darker-main-color);
}

.active_search.on{
  padding-top: 36px;
  transform: scaleY(1);
  height: auto;
  visibility:visible;
}

.head_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 36px;
  padding: 10px 15px 0px;
  color: #aaa;
  border-bottom: 1px solid var(--search-border);
  box-sizing: border-box;
}

.header_title,
.action{
  box-sizing: content-box;
  padding-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

.header_title{
  margin-right: 8px;
  position: relative;
}

.header_title:after{
  content: '';
  height: 1px;
  width: 41.63px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: white;
}


.action{
  color:#aaaa;
  transition: color .2s ease-in-out;
  margin-left: 8px;
}

.action:hover{
  color: #aaa;
}

.bottom_guide{
  background-color: rgb(255, 0, 98);
}
 

.style_search {
  width: 100%;
  margin-right: 20px;
  z-index: 5;
  background-color: transparent;
  color: var(--color-white-icons);
  font-size: 15px;
  border: none;
  outline: none;
  font-family: Nunito,Archivo,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 500;
  cursor: default;
  cursor: text;
}

input[type="text"] {
  text-align: start;
}

.style_search::placeholder{
  color: rgb(95, 95, 95);
  font-size: 15px;
}

.search-sign{
  font-size: 18px;
  padding: 10px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  z-index: 5;
  color: #aaaa;
}

.clearText{
  box-sizing: border-box;
  padding-right: 10px;
  background-color: var(--darker-main-color);
  width: 120px;
  height: 30px;
  align-self: flex-end;
  z-index: 5;
  text-align: end;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 0;
}

.clearText span {
  color: rgb(95, 95, 95);
  transition: all .2s ease-in-out;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.clearText span:hover{
  color: #aaa;
}

.quick_access{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 120px;
  font-size: 15px;
  color: rgb(95, 95, 95);
  cursor: default;
  /*border: 1px solid white;*/
}

.quick_access i{
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text_q{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 5px;
  cursor: default;
  white-space: nowrap;
  cursor:text;
}

.search-sign:hover{
  color: #aaa;
}


.cool_stuff{
  margin-left: 5px;
  flex: 1 1 auto;
  display: flex;
  height: 100%;
  align-items: center;
  white-space: nowrap;
}

.together_watch,
.random_select,
.read,
.message,
.change_lang{
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 12px;
  color: var(--color-white-icons);
  text-align: center;
  font-size: 16px;
  transition: .4s;
  text-decoration: none;
  position: relative;
}

.together_watch::after{
  content: "Watch2gether";
  padding: 5px;
}
.random_select::after{
  content: "Random";
  padding: 5px;
}
.read::after{
  content: "Read Manga";
  padding: 5px;
}

.together_watch:hover,
.random_select:hover,
.read:hover,
.bell:hover{
  color: var(--hover-header-color);
}


.change_lang{
  height: auto;
  width: auto;
  cursor: pointer;
}

.choose{
  background-color: var(--color-lang-message);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 2px solid var(--header-border-color);
}

.choose:hover{
  background-color: rgb(82, 3, 146);
  color: white;
}


.en,
.jp{
  width: 35px;
  font-size: 15px;
  background-color: transparent;
  padding: 2px;
  justify-content: center;
}

.en{
  border-right: 2px solid var(--header-border-color);
}

.en.active,
.jp.active{
  background-color: var(--color-white-icons);
  color: black;
}


.extra_2watch,
.random_choice{
  position: absolute;
  left:50%;
  top: 40px;
  background-color: rgb(187, 187, 187);
  padding: 5px;
  height: auto;
  border-radius: 4px;
  font-size: 13px;
  color: black;
  white-space: nowrap;
  transform: translateX(-50%) scaleY(0);
  transition: transform .1s ease-out 0.1s;
  transform-origin: top;
  letter-spacing: 0.05em;
  z-index: 4;
}

.triangle{
  clip-path: polygon(
    0% 100%,
    50% 0%,
    100% 100%);
  width: 10px;
  height: 7px;
  background-color: rgb(161, 150, 150);
  position: absolute;
  top: -34%;
  left: 50%;
  transform: translateX(-50%);
}


.extra_2watch.active,
.random_choice.active{
  transform: translateX(-50%) scaleY(1);
}


/*menu to messages*/

.menu_message{
  position: absolute;
  background-color: var(--color-lang-message);
  width: 300px;
  height: 80px;
  top: 27px;
  left: 100%;
  transform: translateX(-100%) scaleY(0);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  cursor: default;
  border: 1px solid var(--header-border-lighter);
  transform-origin: top;
  transition: .1s ease-in-out;
  z-index: 4;
}

.menu_message.active{
  transform: translateX(-100%) scaleY(1);
}

.notifications,
.message_header{
  flex: 1;
  background-color: rgba(128, 72, 72, 0);
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.message_header{
  border-bottom: 1px solid var(--header-border-lighter);
}

.message_header span{
  flex: 1;
  position: relative;
}

.mark{
  flex: 1.5;
  display: inline-flex;
  align-items: center;
  color: var(--text-in-shadow);
}

.mark_add{
  transition: .2s ease-in-out;
}

.mark_add::after{
  content: 'Mark as read';
  padding: 5px;
  font-family: 'Noto Sans JP', sans-serif; 
}

.anime_title{
  cursor: pointer;
}

.anime_title::after{
  content: '';
  background-color: rgb(132, 132, 132);
  width: 50px;
  height: 1px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 155%;
  transform: translate(-50%, -200%);
  cursor: pointer;
}


.notifications{
  color: var(--text-in-shadow);
  
}

.notifications span{
  cursor: text;
}


.mark_add:hover{
  color: var(--color-white-icons);
  cursor: pointer;
}

.bell{
  cursor: pointer;
}




@media screen and (max-width: 1600px) {
  .search_container{
    flex: 1 3 400px;
  }
  .quick_access{
    padding: 0 5px;
  }
  .text_q{
    display:none;
  }
}

@media screen and (max-width: 1500px) {
  
}


@media screen and (max-width: 1200px) {
  .search_container{
    display:none;
  }
}

@media screen and (max-width: 1000px) {
  .message,
  .together_watch{
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .random_select,
  .read,
  .change_lang{
    display: none;
  }
  .search_container{
    display: flex;
    flex: 1 3 auto;
  }
}

@media screen and (max-width: 620px) {
  .search_container{
    width: 250px;
  }
}