.search_container{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 600px;
  height: auto;
  padding: 0;
}

.const_search{
  background-color: var(--darker-main-color);
  color: var(--color-white-icons);
  display: flex;
  flex-direction: row;
  height: 36px;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  align-content: flex-start;
  z-index: 1;
  position: relative;
}


.active_search{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  border: 1px solid var(--search-border);
  border-radius: 5px;
  background-color: var(--darker-main-color);
  transform-origin: top;
  transform: scaleY(0);
  height: 0;
  transition:all .2s ease-in-out;
}

.active_search.on{
  padding-top: 36px;
  transform: scaleY(1);
  height: auto;
}

.head_box{
  background-color: var(--darker-main-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 36px;
  padding: 10px 15px 0px;
  color: #aaa;
  border-bottom: 1px solid var(--search-border);
  box-sizing: border-box;

}

.header_title,
.action{
  box-sizing: content-box;
  padding-bottom: 5px;
  font-size: 14px;
  cursor: pointer;
}

.header_title{
  margin-right: 8px;
  position: relative;
}

.header_title:after{
  content: '';
  height: 1px;
  width: 41.63px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: white;
}

.action{
  color:#aaaa;
  transition: color .2s ease-in-out;
  margin-left: 8px;
}

.action:hover{
  color: #aaa;
}

.foot_guide{
  background-color: var(--lighter-main-color);
  padding: 0 15px;
  box-sizing: border-box;
  height: 47px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
}

.nav_f{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.nav_f div{
  margin-right: 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: auto;
  color: #aaaa;
  cursor: default;
  border-right: 1px solid #aaaaaa18;
  white-space: nowrap;
}

.navigation{
  border-left: 1px solid #aaaaaa18;
}

.navigation span,
.select span,
.exit span{
  padding-left: 5px;
  font-size: 14px;
} 

.navigation i,
.select i,
.exit i{
  padding: 2px;
  font-size: 20px;
}

.style_search {
  width: 100%;
  margin-right: 20px;
  z-index: 5;
  background-color: transparent;
  color: var(--color-white-icons);
  font-size: 15px;
  border: none;
  outline: none;
  font-family: Nunito,Archivo,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 500;
  cursor: default;
  cursor: text;
}

input[type="text"] {
  text-align: start;
}

.style_search::placeholder{
  color: rgb(95, 95, 95);
  font-size: 15px;
}

.search-sign{
  font-size: 18px;
  padding: 10px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  z-index: 5;
  color: #aaaa;
}

.clearText{
  box-sizing: border-box;
  padding-right: 10px;
  background-color: var(--darker-main-color);
  width: 120px;
  height: 30px;
  align-self: flex-end;
  z-index: 5;
  text-align: end;
  cursor: pointer;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 0;
}

.clearText span {
  color: rgb(95, 95, 95);
  transition: all .2s ease-in-out;
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.clearText span:hover{
  color: #aaa;
}

.quick_access{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 120px;
  font-size: 15px;
  color: rgb(95, 95, 95);
  cursor: default;
}

.quick_access i{
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text_q{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 5px;
  cursor: default;
  white-space: nowrap;
  cursor:text;
}

.search-sign:hover{
  color: #aaa;
}
